/* =========================
    Variables
   ========================= */
/* =========================
    CSS Reset
   ========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* =========================
    General Styling
   ========================= */
#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #212529;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.page {
  padding: 3rem 1rem;
}

/* =========================
    Navbar Styling
   ========================= */
header {
  background-color: white;
  padding: 2.25rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(212, 212, 212);
}
header .logo-zone {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
header .logo-zone img {
  width: 40px;
  height: 40px;
}
header .logo-zone .logo {
  font-size: 2rem;
  font-weight: 800;
}
header span {
  font-weight: bold;
}
header .nav-container {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 1.0625rem;
}
header a {
  color: black;
  text-decoration: none;
}
header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .signup-button {
  background-color: #565add;
  color: white;
  border-radius: 80px;
  padding: 0.625rem 2rem;
  align-self: center;
}
header .signup-button:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
}
header .active {
  text-decoration: underline;
}

/* =========================
    Homepage Styling
   ========================= */
.hero-zone {
  background-color: #f0dff5;
  padding: 4rem 0 8rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-text {
  width: 70%;
  display: grid;
  gap: 1.5rem;
}
.hero-text h1 {
  font-size: 5rem;
  line-height: 1;
}
.hero-text p {
  font-size: 2rem;
}

.info-zone {
  text-align: center;
  padding: 80px 0;
}
.info-zone h2 {
  font-size: 3rem;
}
.info-zone .info-zone-blurb {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.info-card {
  text-align: left;
  display: flex;
  gap: 5rem;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.info-card img {
  max-width: 50%;
}

.step-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.step-blurb {
  font-size: 1.25rem;
}

.cta {
  background: #f1f3f5;
  border-radius: 10px;
  margin-bottom: 4rem;
  padding: 3rem;
  text-align: center;
}
.cta h2 {
  font-size: 2rem;
}
.cta p {
  font-size: 1.2rem;
}

.cta-button {
  color: white;
  border: none;
  border-radius: 80px;
  margin-top: 35px;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: bold;
  background: #565add;
  cursor: pointer;
}
.cta-button:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* =========================
    About Styling
   ========================= */
.about-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}
.about-page p {
  margin: 1rem 0;
}
.about-page h3 {
  color: coral;
}

/* =========================
    Login / Signup Styling
   ========================= */
.login-page h2,
.signup-page h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.4);
}
.form p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.form a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.form a:hover {
  text-decoration: underline;
}
.form input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}
.form button {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: #565add;
  border: none;
  cursor: pointer;
  color: white;
}
.form button:hover {
  box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.4);
}

/* =========================
    My Books Styling
   ========================= */
.search-zone {
  padding: 1rem;
  width: 700px;
  margin: 0 auto;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
  overflow: hidden;
}
.search-form input {
  width: 100%;
  padding: 5px 10px;
  border: 0;
}
.search-form input:focus {
  outline: 0;
}
.search-form .search-button {
  border: none;
  padding: 0 2rem;
  border-left: 1px solid black;
}
.search-form .search-button:hover {
  cursor: pointer;
}
.search-form .search-button:focus, .search-form .search-button:active {
  outline: 0;
}

.search-results {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.search-result-item {
  border-bottom: 1px solid #d8d8d8;
  padding: 5px;
  display: flex;
  gap: 1rem;
}
.search-result-item img {
  width: 50px;
}
.search-result-item:hover {
  background: #f0dff5;
  cursor: pointer;
}
.search-result-item .item-title {
  font-weight: bold;
}
.search-result-item .item-author {
  font-style: italic;
}

/* =========================
    BookCard Styling
   ========================= */
.card-zone {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 1300px;
  margin: 6rem auto;
}

.book-card {
  display: flex;
  width: 600px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}
.book-card img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.info-container {
  padding: 1.125rem;
}

.book-info {
  display: grid;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  width: 100%;
  gap: 0.5rem;
}
.book-info .top .title {
  font-weight: bold;
  font-size: 1.125rem;
}
.book-info .top .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.book-info .bottom {
  background-color: #f7fafc;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.book-info .bottom .author {
  font-weight: bold;
  grid-area: 1/1/2/2;
}
.book-info .bottom .year {
  grid-area: 2/1/3/2;
}
.book-info .bottom span {
  font-weight: light;
  cursor: pointer;
  grid-area: 2/2/3/3;
  text-align: right;
  color: gray;
  margin-left: auto;
}

/* =========================
    Footer Styling
   ========================= */
.footer {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #292828;
  padding: 60px 0px;
  text-align: center;
}
.footer p {
  font-weight: bold;
  font-size: 2rem;
  color: #f0dff5;
}

.footer .row {
  color: gray;
  margin: 1rem;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
/* =========================
    Error Handling
   ========================= */
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid red;
  color: red;
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid red;
}

@media (max-width: 1600px) {
  .container,
.nav-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}/*# sourceMappingURL=app.css.map */