/* 
    CSS Reset
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    General Styling
*/
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.book-zone {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/*
    Homepage styling
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.hero-zone {
    background-color: #f4fce3;
    color: #212529;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem 0;
}

.hero-text {
    margin-right: 5rem;
    display: grid;
    gap: 1.5rem;

    h1 {
        font-size: 3rem;
        line-height: 1;
    }

    p {
        font-size: 1.25rem;
    }
}

.info-zone {
    text-align: center;
    padding: 80px 0;

    h2 {
        font-size: 2rem;
    }

    .info-zone-blurb {
        font-size: 1.3rem;
        margin-bottom: 80px;
    }
}

.info-card {
    text-align: left;
    display: flex;
    gap: 3rem;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;

    img {
        max-width: 50%;
    }
}

.step-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
