/* =========================
    Variables
   ========================= */
/* =========================
    CSS Reset
   ========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* =========================
    General Styling
   ========================= */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #212529;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.page {
  padding: 3rem 1rem;
}

/* =========================
    Homepage Styling
   ========================= */
.hero-zone {
  background-color: #f4fce3;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem 0 4rem;
}

.hero-text {
  margin-right: 5rem;
  display: grid;
  gap: 1.5rem;
}
.hero-text h1 {
  font-size: 3rem;
  line-height: 1;
}
.hero-text p {
  font-size: 1.25rem;
}

.info-zone {
  text-align: center;
  padding: 80px 0;
}
.info-zone h2 {
  font-size: 2rem;
}
.info-zone .info-zone-blurb {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.info-card {
  text-align: left;
  display: flex;
  gap: 3rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}
.info-card img {
  max-width: 50%;
}

.step-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cta {
  background: #f1f3f5;
  border-radius: 10px;
  margin-bottom: 4rem;
  padding: 3rem;
  text-align: center;
}
.cta h2 {
  font-size: 2rem;
}
.cta p {
  font-size: 1.2rem;
}

.cta-button {
  border: none;
  border-radius: 1rem;
  margin-top: 35px;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: bold;
  background: #c8ff52;
  cursor: pointer;
}
.cta-button:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* =========================
    Error Handling
   ========================= */
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid red;
  color: red;
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid red;
}

/* =========================
    Navbar Styling
   ========================= */
header {
  background-color: #f4fce3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
header .logo {
  font-size: 1.75rem;
  font-weight: bold;
}
header a {
  color: black;
  text-decoration: none;
}
header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .signup-button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.25rem 1rem;
}
header .active {
  text-decoration: underline;
}

/* =========================
    About Styling
   ========================= */
.about-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}
.about-page p {
  margin: 1rem 0;
}
.about-page h3 {
  color: coral;
}
/* =========================
    Footer Styling
   ========================= */
footer {
  padding-bottom: 1rem;
  font-size: 0.825rem;
}
footer a {
  color: rgb(52, 52, 255);
  text-decoration: none;
  margin-right: 16px;
}/*# sourceMappingURL=app.css.map */